{% extends 'base.html' %} {% block content %}

<div class="container mt-4">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="{% url 'transfers'%}">Transfers</a>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Add Transfer</li>
    </ol>
  </nav>

  <div class="card">
    <div class="card-body">
      <form action="{% url 'transfers' %}" method="post">
        {% include 'partials/_messages.html'%} {% csrf_token %}
        <div class="form-group">
          <label for="">Amount</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="amount"
            value="{{values.amount}}"
          />
        </div>
        <div class="form-group">
          <label for="">Description</label>
          <input
            type="text"
            class="form-control form-control-sm"
            name="description"
            value="{{values.description}}"
          />
        </div>
        <div class="form-group">
          <label for="">From Account</label>
          <select class="form-control" name="account">
            <!-- {% for account in account%}
            <option name="account" value="{{account.name}}"
              >{{account.name}}</option
            >
            {% endfor %} -->
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
          </select>
        </div>
        <div class="form-group">
            <label for="">To Account</label>
            <select class="form-control" name="account">
              <!-- {% for account in account%}
              <option name="account" value="{{account.name}}"
                >{{account.name}}</option
              >
              {% endfor %} -->
              <option>2</option>
              <option>3</option>
              <option>4</option>
              <option>5</option>
              <option>6</option>
              <option>7</option>
              <option>8</option>
            </select>
          </div>
        <div class="form-group">
          <label for="">Date of Transfer</label>
          <input
            type="date"
            class="form-control form-control-sm"
            name="transfer_date"
          />
        </div>

        <input
          type="submit"
          value="Submit"
          class="btn btn-primary btn-primary-sm"
        />
      </form>
    </div>
  </div>
</div>

{% endblock %}
